<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" 
           path="*" 
           verb="*" 
           modules="httpPlatformHandler" 
           resourceType="Unspecified"/>
    </handlers>
    
    <httpPlatform processPath="D:\home\Python\python.exe"
                  arguments="D:\home\site\wwwroot\startup.py"
                  stdoutLogEnabled="true"
                  stdoutLogFile="D:\home\LogFiles\python_stdout.log"
                  startupTimeLimit="120"
                  requestTimeout="00:05:00">
      
      <environmentVariables>
        <environmentVariable name="FLASK_ENV" value="production" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot;D:\home\site\wwwroot\src;D:\home\site\wwwroot\src\config;D:\home\site\wwwroot\modules;D:\home\site\wwwroot\config" />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
        <environmentVariable name="PYTHONDONTWRITEBYTECODE" value="1" />
        <environmentVariable name="WEBSITE_TIME_ZONE" value="UTC" />
      </environmentVariables>
    </httpPlatform>

    <!-- Enable WebSockets for Socket.IO -->
    <webSockets enabled="true" />
    
    <!-- Security headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>

    <!-- File upload size limit (100MB) -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>

    <!-- Static content handling -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".py" mimeType="text/plain" />
    </staticContent>

    <!-- URL Rewrite rules -->
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^(static/.*|favicon\.ico|robots\.txt)$" />
          <action type="None" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>